<h1>Favorite Movies</h1>

<% @movies.each do |movie| %>
   <h3> <%= movie.title %> </h3>
   <h3> <%= movie.release_year %> </h3>
   <h4> <%= movie.rating %> </h4>
   <%= image_tag movie.poster, alt:'movie poster'%>
    <hr>
<% end %>
